body{
    background-color: #FAFAFA;
    font-family: Roboto;
}
.card-course {
	background-color: #28527A;
    border-width: 0.5px;
    border-radius: 5px;
    box-shadow: 1px 1px 6px;
}
.card-text-course {
    color: white;
}
.card {
    background-color: white;
    border-width: 0.5px;
    border-radius: 5px;
    box-shadow: 1px 1px 6px;
}
#card-body-nm {
    background-color: transparent !important;
    border-width: 0px !important;
    border-radius: 0px !important;
    box-shadow: 0px 0px 0px !important;
}
.card-title {
    color: #EFA30A;
    border-bottom: 2px solid lightgray;
    padding: 12px 0px;
}
.card-text-nt {
    color: #EFA30A;
}
.nav-link {
    color: #EFA30A;
    font-weight: bold;
}
.nav-link:hover, .nav-link:focus, .nav-link:active, .nav-link.active {
    color: #EFA30A !important;
    border-bottom: 4px solid #EFA30A;
}
.nav a {
    display: block;
    text-align: center;
    padding: 16px;
    border-bottom: 4px solid transparent;
}
.table-dark {
    background-color: #3CADC9;
}
.btn-primary {
    background-color: #28527A !important;
    border-color: #28527A !important;
    border-width: 2px !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #1C3650 !important;
    border-color: #1C3650 !important;
    border-width: 2px !important;
}
.btn-primary:disabled, .btn-primary:disabled:hover, a.btn-primary.disabled {
    background-color: #8B8A8A !important;
    border-color: #8B8A8A !important;
    border-width: 2px !important;
}
.btn-secondary {
    background-color: white;
    color: #28527A;
    border-color: #28527A;
    border-width: 2px;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
    background-color: whitesmoke !important;
    color: #28527A !important;
    border-color: #28527A !important;
    border-width: 2px !important;
}
.btn-danger {
    border-width: 2px !important;
}
#list-group-item-course:hover, #list-group-item-course:focus, #list-group-item-course.active, #list-group-item-course:active {
    background-color: whitesmoke;
    border-color: whitesmoke;
}
#list-group-item-nh, list-group-item-nh:hover, #list-group-item-nh:focus, #list-group-item-nh.active, #list-group-item-nh:active {
    background-color: white;
    border-color: lightgray;
}
.page-link {
    color: black;
    border-radius: 25px;
    margin: 4px;
    box-shadow: 0.5px 0.5px 3px;
}
.page-link:hover, .page-link:focus, .page-link:active, .page-link.active {
    color: white !important; 
    background-color: #28527A !important;
    border-color: #28527A !important;
}
.breadcrumb {
    background-color: white;
    margin-bottom: 0;
}
.breadcrumb-arrow .breadcrumb-item+.breadcrumb-item::before {
    content: '';
}
  
.breadcrumb-arrow {
    height: 40px;
    line-height: 40px;
}
  
.breadcrumb-arrow .breadcrumb-item:first-child a {
    border-radius: 4px 0 0 4px;
}
  
.breadcrumb-arrow .breadcrumb-item, .breadcrumb-arrow .breadcrumb-item a, .breadcrumb-arrow .breadcrumb-item span {
    display: inline-block;
    vertical-align: top;
}
  
.breadcrumb-arrow .breadcrumb-item:not(:first-child) {
    margin-left: -1px;
}
  
.breadcrumb-arrow .breadcrumb-item+.breadcrumb-item:before {
    padding: 0;
    content: "";
}
  
.breadcrumb-arrow .breadcrumb-item a,
.breadcrumb-arrow .breadcrumb-item.active {
    height: 40px;
    padding: 0 10px 0 25px;
    line-height: 40px;
}
  
.breadcrumb-arrow .breadcrumb-item a {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #3CADC9;
    border: 1px solid #3CADC9;
}
  
.breadcrumb-arrow .breadcrumb-item a:after,
.breadcrumb-arrow .breadcrumb-item a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}
  
.breadcrumb-arrow .breadcrumb-item a:before {
    right: -10px;
    z-index: 3;
    border-left-color: #3CADC9;
    border-left-style: solid;
    border-left-width: 11px;
}
  
.breadcrumb-arrow .breadcrumb-item a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #1e6d8a;
}
  
.breadcrumb-arrow .breadcrumb-item a:focus,
.breadcrumb-arrow li a:hover {
    background-color: #3392AA;
    border: 1px solid #3392AA;
}
  
.breadcrumb-arrow .breadcrumb-item a:focus:before,
.breadcrumb-arrow li a:hover:before {
    border-left-color: #3392AA;
}
  
.breadcrumb-arrow li.active:after,
.breadcrumb-arrow li.active:before {
    border-left-color: #1e6d8a;
}
#imageUpload
{
    display: none;
}
#profile-container {
    width: 175px;
    height: 175px;
    overflow: auto;
}
#profile-container img {
    width: 175px;
    height: 175px;
}
#profile-container #btn-profile {
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
.btn-circle {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
}
.form-control {
    border-color: #28527A;
}